// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.modal-open {
    overflow: hidden;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,.35);
    }
}

.sig-modal{
    display:none;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    &.active{
        display:block;
        margin: 100px auto;
        background:#fff;
        z-index: 100;
        max-width:800px;
    }
    canvas {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
    }
    .close {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    button {
        position: absolute;
        right: 15px;
        bottom: 15px;
    }
}

.signature {
    // transform: scale(.15);
    width:10%;
}
